body{
    background-image: url(img/gente1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.formulario{
    background: rgba(0,0,0,.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0,0,0,-0.568);
    color: #EEEEEE;
}
.ingresar{
    background: #0056b3;
    padding: 10px;
    font-size: 16px;
    font-weight: 700!important;
    color: #EEEEEE;
    box-shadow: 0 0 30px rgba(0,0,0,-0.568);
    transition: 0.5s ease-in;
}
.ingresar:hover{
    color: white;
}
.form-control{
    background: rgba(0,0,0,.3);
    border-style: none;
     transition: 0.5s ease-in;
     outline: none;
      box-shadow: none;
}
.form-control::placeholder{
    color: white;
}
.form-control:focus{
    background: none;
     box-shadow: none;
      outline: none;
}
.olvide{
    color: #EEEEEE;
    text-decoration-style:none;
    text-decoration-line:none;
}
.olvide:hover{
    color: #EEEEEE;
     text-decoration-style:none;
    text-decoration-line:none;
    cursor:pointer;
}
.textinv{

color:#EEEEEE;
}